<!DOCTYPE HTML>
<html lang="en">

<head>
    <title><%= clubName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--================================================================
        Scripts
    =================================================================-->
    <link rel="stylesheet" href="assets/css/normalise.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/js/main.js" defer></script>
</head>

<body>
    <!--================================================================
        Navigation Bar
    =================================================================-->
    <nav id="navbar">
        <a href="/@<%= clubName %>">Return Back to Club Page</a>
        <a href="/register" class="rightsideText">Sign Up</a>
        <a href="/login" class="rightsideText">Log in</a>
    </nav>
    <!--================================================================
        Intro/Logo
    =================================================================-->
    <div id="banner">
        <!--  <h2>LOGO? WEBSITE NAME?</h2> -->
        <img src="images/logo.png" class="logo" alt="Football logo">
        <p>A repository for reporting sports results</p>
    </div>
    <!--================================================================
        Previous Matches
    =================================================================-->
    <div id="previousmatches" class="wrapper">
        <h2>The Players that Represented <%= clubName %></h2>
        <% for(let i=0;i < name.length/6; i++){ %>
        <div class="inner split4">
            <div>
                <ul class="checklist">
                    <li>Image</li>
                    <li>Image</li>
                    <li>Image</li>
                    <li>Image</li>
                    <li>Image</li>
                    <li>Image</li>
                </ul>
            </div>
            <div>
                <ul class="checklist">
                    <li><%= name[i*6] %></li>
                    <li><%= name[i*6+1] %></li>
                    <li><%= name[i*6+2] %></li>
                    <li><%= name[i*6+3] %></li>
                    <li><%= name[i*6+4] %></li>
                    <li><%= name[i*6+5] %></li>
                </ul>
            </div>
            <div>
                <ul class="checklist">
                    <li><%= role[i*6] %></li>
                    <li><%= role[i*6+1] %></li>
                    <li><%= role[i*6+2] %></li>
                    <li><%= role[i*6+3] %></li>
                    <li><%= role[i*6+4] %></li>
                    <li><%= role[i*6+5] %></li>
                </ul>
            </div>
            <div>
                <ul class="checklist">
                    <li><%= origin[i*6] %></li>
                    <li><%= origin[i*6+1] %></li>
                    <li><%= origin[i*6+2] %></li>
                    <li><%= origin[i*6+3] %></li>
                    <li><%= origin[i*6+4] %></li>
                    <li><%= origin[i*6+5] %></li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>
</body>
</html>